<div class="blog-header">
  <div class="container">
    <h3 class="blog-title">A female workhorse</h3>
    <p class="lead blog-description">I have chosen to be industrious. I take advantage of the opportunities that are presented to me, and then work to be my best. I believe that being born in America has enabled me to become whatever I choose, and I am grateful for this. I DO NOT put up with laziness. </p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <br>
    <span>
      <%= link_to "Topics", topics_path, class: 'btn btn-primary' %>
    </span>
  </div>
</div>