<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
   <%= image_tag "IMG_0732.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p> I am a 19 year old computer programmer. In the fall of 2016, I signed up for a coding bootcamp called <strong><a href="http://www.bottega.tech/" target='_blank'> Bottega Tech. </a></strong>   At this bootcamp, I studied Ruby on Rails, HTML and CSS, and Angular. I then moved to Scottsdale, AZ and taught the first cohort of Bottega in Arizona. This journey has been frustrating, and challenging, but my life has been flooded with opportunities. 
    </p>
    <p>I have been inspired by many women in the past and the present, but one quote from Karlie Kloss has influenced me since the moment I began my career as a programmer. "I want to encourage more young women to get involved in coding, because it's important for them to be able to help shape the future, and coding is the future." </p>
  </div>
</div>
