<div class="inner cover">
  <h1 class="cover-heading">A <em>female </em> coder.</h1>
  <p class="lead">"Creating is my passion."</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary about-btn" %>
  </p>
</div>