<div class="inner cover">
  <h1 class="cover-heading">A female coder.</h1>
  <p class="lead">"If software development was easy, everyone would do it". -Jordan Hudgens (Mentor)</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>